@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/* ============= CSS RESET ============= */
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
	.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

/*#ngview { background:red; }*/

/* =============== GLOBAL ============== */
	html, body {
   	overflow-x: hidden;
   	max-width:100%;
	}

	.blurb {
		width:80%;
		max-width:600px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
	}

	#footer {
		width:100%;
		font-family:'Quicksand', sans-serif;
		font-weight:400;
		background:#c9c9f4;
		text-align:center;
		padding-top:5px;
		padding-bottom:5px;
		font-size:12px;
		position: fixed;
	   left: 0;
	   right: 0;
	   bottom: 0;
	   height: auto;
	}

	a {
		font-family:'Quicksand', sans-serif;
		font-weight:400;
		text-decoration:none;
		z-index:50;
		color:#a5a7ee;
	}

	a:hover {
		color:#66E0FF;
			-webkit-transition: color 0.5s;
			-moz-transition: color .5s;
			-o-transition: color .5s;
			transition: color .5s;
	}
/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */
	@media (max-width:600px) {
		#footer{
			font-size:8px;
		}

		.blurb {
			width:90%;
		}
	}



/* ============== CLASSES ============== */
	
	/* TEXT */
		.default {
			font-family:'Quicksand', sans-serif;
			font-weight:400;
			font-size:1.25em;
			line-height:1.25em;
		}

		.center {
			text-align:center;
		}

		.bold {
			font-weight:700;
		}

		.italic {
			font-style:italic;
		}

		.gray {
			color:#aaabbb;
		}

		.smaller {
			font-size:1.1em;
			line-height:1.2em;
		}

		.light {
			font-weight:300;
		}

	/* OTHER */
		.block {
			display:block;
		}

		.fixed { 
			position:fixed;
		}

		.absolute {
			position:absolute;
		}

		.float-left {
			float:left;
		}

		.opacity0 {
			opacity:0;
				-webkit-transition: opacity 0.5s;
				-moz-transition: opacity .5s;
				-o-transition: opacity .5s;
				transition: opacity .5s;
		}

		.opacity100 {
			opacity:100;
				-webkit-transition: opacity .5s;
				-moz-transition: opacity .5s;
				-o-transition: opacity .5s;
				transition: opacity .5s;
		}
/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */
		@media (max-width:500px) {
			.default {
				font-size:0.85em;
			}

			.smaller {
				font-size:0.85em;
			}

			.light {
				font-weight:400;
			}
		}


/* =========== HEADER || NAV =========== */
	
	/* IMG */
		#backsplash {
			width:900px;
			height:auto;
			top:0px;
			left:50%;
			margin-left:-450px;
		}

		#name {
			width:400px;
			height:auto;
			top:25px;
			left:50%;
			margin-left:-200px;
		}

	/* NAV */
		.nav {
			background:#ffffff;
			/*background:red;*/
			width:100%;
			height:35px;
			list-style:none;
			margin:0;
			padding-top:8px;
			text-align:center;
			box-sizing:border-box;
		}

		.nav li{
			display:inline;
		}

		.nav a{
		    display:inline-block;
		    /*padding:10px;*/
		    padding-left:52px;
		    padding-right:52px;
		}

		#nav-home { padding-left:0px; }
		#nav-contact { padding-right:0px; }

		.nav-border {
			border-top:1px solid black;
			border-bottom:1px solid black;
			width:890px;
			height:35px;
			/*box-sizing:border-box;*/
			margin-top:-29px;
			margin-left:auto;
			margin-right:auto;
		}

		.nav-links {
			/*top:10px;*/
			font-family:'Quicksand', sans-serif;
			font-weight:400;
			font-size:1.25em;
			text-decoration:none;
			z-index:50;
			color:#a5a7ee;
			letter-spacing:1px;
			/*padding-top:8px;*/
		}
/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */
	@media (max-width:910px) {
	  .nav-border {
	   	width:790px;
	  }
	  .nav a{
	  		padding-left:40px;
	   	padding-right:40px;
	  }
	}

	@media (max-width:810px) {
	  .nav-border {
	    width:100%;
	  }
	  .nav a{
	  		padding-left:28px;
	   	padding-right:28px;
	  }
	}

	@media (max-width:710px) {
	  .nav-border {
	   	/*width:590px;*/
	   	margin-top:-27px;
	  }
	  .nav a{
	  		padding-left:20px;
	   	padding-right:20px;
	  }
	  .nav-links {
			font-size:1.15em;
	  }
	}

	@media (max-width:610px) {
	  .nav-border {
			width:100%;
			margin-top:-39px;
	  }
	  .nav a{
	  		padding-left:14px;
	   	padding-right:14px;
	   	padding-top:2px;
	   	padding-bottom:12px;
	  }
	  .nav-links {
	  		font-size:1em;
	  }
	}

	@media (max-width:550px) {
		.nav-links {
			font-size:0.8em;
			font-weight: 600;
		}
		#backsplash {
			max-width:100%;
			margin:0;
			left:0;
		}
		#name {
			max-width:80%;
			margin-left:-40%;
			top:5px;
		}
		.nav a{
	  		padding-left:5px;
	   	padding-right:5px;
	   	padding-bottom:16px;
	  	}
	  	.nav {
	  		height:32px;
	  	}
	  	.nav-border {
	  		padding:0;
	  		height:30px;
	  		max-width:100%;
	  	}
	}

	@media (max-width:375px) {
		.nav-links {
			font-size:0.7em;
			font-weight: 600;
		}
		.nav a{
	  		padding-left:3px;
	   	padding-right:3px;
	   	padding-bottom:16px;
	  	}
	}

	@media (max-width:315px) {
		.nav-links {
			font-size:0.6em;
		}
		.nav a{
	  		padding-left:3px;
	   	padding-right:3px;
	  	}
	}

	@media (max-width:285px) {
		.nav-links {
			font-size:0.4em;
		}
	}

	@media (max-width:275px) {
		.nav-links {
			font-size:0.4em;
		}
		.nav a{
	  		padding-left:2px;
	   	padding-right:2px;
	  	}
	}

	@media (max-width:260px) {
		.nav-links {
			font-size:0.25em;
		}
		.nav a{
	  		padding-left:1px;
	   	padding-right:1px;
	  	}
	}



/* =============== ABOUT =============== */
/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */
	#me {
		float:left;
		padding-right:10px;
	}

	@media (max-width:810px) {
		#me {
			width:150px;
			height:150px;
		}
	}

	@media (max-width:500px) {
		#me {
			width:120px;
			height:120px;
		}
	}

	@media (max-width:400px) {
		#me {
			width:100px;
			height:100px;
		}
	}



/* ============== CONTACT ============== */
	.fa-twitter, .fa-instagram, .fa-linkedin, .fa-github-alt {
		color:#ffffff;
		background:#a5a7ee;
		padding: 8px;
		font-size: 24px;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		text-align:center;
	}

	.fa:hover {
		background:#66E0FF;
			-webkit-transition: background 0.5s;
			-moz-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
	}

	.fa-twitter, .fa-instagram, .fa-github-alt {
		margin-right:10px;
	}

	#social-media {
		padding:5px;
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
	}
/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */



/* ============ PREVIEWS =============== */
	.previews {
		font-family:'Quicksand', sans-serif;
		font-weight:400;
		font-size:1.15em;
		line-height:1.15em;
		width:85%;
		max-width:890px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
		text-align:center;
	}

	.preview {
		margin:10px;
		width:260px;
		min-height:150px;
		display:inline-block;
	}

	.preview img {
		margin:5px;
	}

	.preview-title {
		font-size:0.82em;
	}

	.preview-desc {
		font-size:0.7em;
		font-weight:600;
		text-transform: uppercase;
		display:block;
		margin-top:-4px;
		color:#aaaaaa;
	}

/* ============ PROJECTS =============== */
	/* GLOBAL */
		.proj-container {
			width:100%;
			max-width:800px;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}

		.proj-stats {
			width:34%;
			float:left;
			margin-top:10px;
			margin-bottom:50px;
			padding-left:10px;
			padding-right:10px;
			box-sizing:border-box;
		}

		.proj-blurb {
			width:64%;
			float:right;
			margin-top:10px;
			margin-bottom:50px;
			padding-right:10px;
			padding-left:10px;
			box-sizing:border-box;
		}

		.proj-previews {
			width:100%;
			max-width:800px;
			padding-right:10px;
			padding-left:10px;
			box-sizing:border-box;
		}

		.proj-img {
			height:auto;
			width:auto;
			margin-left:auto;
			margin-right:auto;
			cursor:pointer;
		}
	/* BUBBALIST */
		.bb-divider {
			margin-bottom:20px;
			border-bottom:1px dashed black;
		}

		#bb-logo{
			width:90%;
			height:auto;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}

		#bb-link {
			width:90%;
			height:auto;
			display:block;
			margin-left:auto;
			margin-right:auto;
		}

	/* WIND CITY */
		#wind-city-trailer {
			max-width:100%;
		}

		.wc-preview {
			text-align:center;
		}

		@media (max-width:600px) {
			#wind-city-trailer {
				max-height:400px;
			}
		}

		@media (max-width:600px) {
			#wind-city-trailer {
				max-height:400px;
			}
		}

		@media (max-width:450px) {
			#wind-city-trailer {
				max-height:300px;
			}
		}

	/* PERSONAL BRAND */
	.brand-previews img {
		width:100%;
	}
	/* ~~~~~~~~~~~~ RESPONSIVE ~~~~~~~~~~~~~ */
		@media (max-width:700px) {
			.proj-stats {
				width:100%;
				float:none;
				margin-top:10px;
				padding-bottom:20px;
				margin-bottom:20px;
				border-bottom:1px dashed black;
			}

			.proj-blurb {
				width:100%;
				float:none;
				margin-bottom:50px;
			}

			.proj-previews {
				text-align:center;
			}
		}

		@media (max-width:500px) {
			#bb-link,#bb-logo {
				width:95%;
			}
		}